/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px red solid; */
    
   }

/* GENERAL CONTAINER SETTINGS */

.container{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#e3e3e3,white);
    width: 970px;
    height: 1000px;
}

/* BEGIN CONTENT BOX (The whole site) */
.content{
    width: 970px;
    height: 1000px;
    z-index: -1;
}
/* HEADER ZONE */
.container .header{
    background-color: white;
}

.container .header h1{
    margin: 40px 0px 10px 100px;
    width: auto;
    display: inline-block;
    vertical-align: top;
}

.container .header h2{
    padding: 10px 0px;
    background: linear-gradient(#24669e,#4f81ab,#24669e);
    color: white;
}

.container .header img{
    width: 100px;
    display: inline;
    position: absolute;
}

.container .header span{
    color: #3572a6;
    width: 150px;
    font-weight: bold;
}

/* VERT BAR ON THE LEFT */
.left-vert-bar{
    width: 180px;
    height: 450px;
    font-size: 10pt;
    font-weight: bold;
    display: inline-block;
}

.left-vert-bar p{
    margin:20px 0px 0px 5px;
}

#watch-a-video{
    width: 150px;
    margin: 15px 0px 7px 5px;
    text-align: center;
    color:white;
    background-color: #3d7aae;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 1px 1px 0px black;
}

#more-resources{
    width: 150px;
    color:white;
    background-color: #ed8f18;
    border-radius: 7px;
    margin-bottom: 20px;
    margin-left: 5px;
    padding: 10px;
    box-shadow: 0px 1px 1px 0px black;
}

.whats-an-internet span{
    color: red;
    font-weight: bold;
}

.answers span{
    color: #2a6ba1;
    font-weight: bold;
}

.hori-rule hr{
    margin-bottom: 10px;

}

/* BEGIN ADVERT */
.left-vert-bar{
    vertical-align: top;
}

.left-vert-bar .ninja-pic{
    margin-left: 10px;
}

.left-vert-bar .ninja-pic img{
    display: inline-block;
    width: 80px;
    margin:100px 10px 0px 35px;
    position: absolute;
    left: 10px;
    z-index: 2;
    
}

.left-vert-bar .ninja-pic h2{
    display: inline;
    width: 160px;
    color: white;
    position: absolute;
    font-size: 14pt;
    text-align: center;
    top: 420px;
    left: 10px;
    z-index: 2;
    
}

.left-vert-bar .ninja-pic h3{
    display: inline;
    width: auto;
    color: white;
    position: absolute;
    padding: 4px 15px;
    background-color: #08c5df;
    box-shadow: 0px 1px 1px 0px black;
    border-radius: 7px;
    top: 615px;
    left: 17px;
    z-index: 2;
    
}

.left-vert-bar .advert-bg img{
    width: 180px;
    margin-top: 20px;
    display: inline-block;
    position: absolute;
    z-index: 1;
}

/* BEGIN CONTACT BAR */
.contact-bar{
    width: 270px;
    height: auto;
    margin-top: 10px;
    margin-right: 250px;
    margin-bottom: 22px;
    vertical-align: top;
    display: inline-block;
    position: relative;
}

.contact-bar img{
    width: 30px;
    display: inline-block;
    margin-left: 30px;
    margin-right: 10px
}

.contact-bar p{
    width: 40px;
    display: inline-block;
    color: #3471a5;
    font-size:  18pt;
    vertical-align: center;
}

.contact-info{
    width: auto;
    height:auto;
    display: inline-block;
}

.contact-info img{
    width: 60px;
    margin-top: 6px;
    display: inline-block;
}

.contact-info ul{
    width: auto;
    height: 150px;
    vertical-align: top;
    list-style:none;
    display: inline-block;
}

.contact-info h3{
    color: #00c0df;
    font-size: 22pt;
}

.contact-info p{
    font-size:10pt;
}

/* BEGIN CLIENTS AND SERVERS MAIN BODY/CONTENT SECTION */

.large-content-box{
    display: inline-block;
    width: 730px;
    position:absolute;
    left: 220px;
    top:210px;
    margin-top: 20px;
}

.large-content-box h2{
    margin-top:10px;
    color: #25679f
}

.clients-and-servers a{
    color:#3ab1c2;
    text-decoration: none;
    font-weight: bold;
}

.clients-and-servers .list ul{
    margin-left: 50px;
}

.clients-and-servers span{
    color: black;
    font-weight: bold;
}

.server-client-pic img{
    width: 350px;
    margin-left: 200px;
}

.so-what-happens h2, p{
    margin-top:10px;
}

.so-what-happens ol{
    margin-left: 50px;
}

.big3-box{
    margin-top: 20px;
    width: 700px;
    outline: 5px solid #0085e0;
    box-shadow: 3px 3px 3px 3px black;
}

.big3-box img{
    display: inline-block;
    width: 150px;
    margin:20px;
}

.big3-box h3{
   color: #22659e; 
}

.big3-content{
    display: inline-block;
    width:400px;
    vertical-align: top;
    margin-top: 20px;
}

.big3-content a{
    text-decoration: none;
    color: #3ab1c2;
    font-weight: bold;
}

.so-what-happens span{
    color: #3ab1c2;
    font-weight: bold;
}