/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    /* outline: 1px red solid; */
    
   }

/* GENERAL CONTAINER SETTINGS */

.container{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(grey,white);
    width: 970px;
    height: 900px;
}

/* BEGIN CONTENT BOX (The whole site) */
.content{
    width: 970px;
    height: 900px;
    z-index: -1;
}
/* HEADER ZONE */
.container .header{
    background-color: white;
}

.container .header h1{
    margin: 40px 0px 10px 100px;
    width: auto;
    display: inline-block;
    vertical-align: top;
}

.container .header h2{
    padding: 10px 0px;
    background: linear-gradient(blue,white,blue);
    color: white;
}

.container .header img{
    width: 100px;
    display: inline;
    position: absolute;
}

.container .header span{
    color: blue;
    width: 150px;
}

/* VERT BAR ON THE LEFT */
.left-vert-bar{
    width: 180px;
    height: 450px;
    font-size: 10pt;
    font-weight: bold;
    display: inline-block;
}

.left-vert-bar p{
    margin:20px 0px 0px 5px;
}

#watch-a-video{
    width: 150px;
    margin: 15px 0px 7px 5px;
    text-align: center;
    color:white;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 1px 1px 0px black;
}

#more-resources{
    width: 150px;
    color:white;
    background-color: orange;
    border-radius: 7px;
    margin-bottom: 20px;
    margin-left: 5px;
    padding: 10px;
    box-shadow: 0px 1px 1px 0px black;
}

.whats-an-internet span{
    color: red;
}

.answers span{
    color: blue;
}

.answers .horizontal-rule{
    height:5px;
    color:black;
}

/* BEGIN ADVERT */
.left-vert-bar{
    vertical-align: top;
}

.left-vert-bar .ninja-pic{
    margin-left: 10px;
}

.left-vert-bar .ninja-pic img{
    display: inline-block;
    width: 80px;
    margin:100px 10px 0px 35px;
    position: absolute;
    left: 10px;
    z-index: 2;
    
}

.left-vert-bar .ninja-pic h2{
    display: inline;
    width: 160px;
    color: white;
    position: absolute;
    font-size: 14pt;
    text-align: center;
    top: 390px;
    left: 10px;
    z-index: 2;
    
}

.left-vert-bar .ninja-pic h3{
    display: inline;
    width: auto;
    color: white;
    position: absolute;
    padding: 4px 15px;
    background-color: aqua;
    box-shadow: 0px 1px 1px 0px black;
    border-radius: 7px;
    top: 575px;
    left: 17px;
    z-index: 2;
    
}

.left-vert-bar .advert-bg img{
    width: 180px;
    margin-top: 20px;
    display: inline-block;
    position: absolute;
    z-index: 1;
}

/* BEGIN CONTACT BAR */
.contact-bar{
    width: 270px;
    height: auto;
    margin-top: 10px;
    margin-right: 250px;
    margin-bottom: 22px;
    vertical-align: top;
    display: inline-block;
    position: relative;
}

.contact-bar img{
    width: 30px;
    display: inline-block;
    margin-left: 30px;
}

.contact-bar p{
    width: 40px;
    display: inline-block;
    color: blue;
    vertical-align: center;
}

.contact-info{
    width: auto;
    height:auto;
    display: inline-block;
}

.contact-info img{
    width: 60px;
    margin-top: 6px;
    display: inline-block;
}

.contact-info ul{
    width: auto;
    height: 20px;
    vertical-align: top;
    list-style:none;
    display: inline-block;
}

.contact-info h3{
    color: blue;
    font-size: 22pt;
}

.contact-info p{
    font-size:10pt;
}

/* BEGIN CLIENTS AND SERVERS MAIN BODY SECTION */

.clients-and-servers{
    display: inline-block;
    width: 730px;
    position:absolute;
    left: 220px;
    top:210px;
}
.clients-and-servers h2, p{
    margin-top:10px;
}

.clients-and-servers .list ul{
    margin-left: 50px;
}

.server